.done {
    padding-top: 80px;
}

.buy_done {
    height: 450px;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
    text-shadow: 1px;
    color: rgb(108, 101, 101);
}

.buy_done img {
    width: 50%;
    height: 100%;
}