.login {
    width: 100%;
    height: 100%;
    padding: 100px 80px 80px 80px;
}

.login_img {
    width: 50%;
    height: 100%;
    padding-right: 10px;
}

.login_img>img {
    width: 100%;
    height: 100%;
}

h2 {
    padding-bottom: 30px;
    text-align: center;
}

.login_form {
    width: 50%;
    height: 100%;
}

.login_form div {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.login_form div span {
    width: 30%;
    padding-right: 20px;
}

.login_form div input {
    width: 60%;
    border: solid black 1px;
}

.login_form .login_submit {
    margin-top: 15px;
    width: 30%;
    height: 40px;
    background-color: rgb(66, 108, 180);
    color: white;
}